/* Style for my portfolio */
@import url(icons.css);
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Noto+Serif+TC&display=swap");
/* Main Home style */
.Home {
  text-align: center;
  background-color: var(--anti-flash-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--traditional);
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: var(--process-cyan);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: var(--traditional);
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  padding: 10px;
}
menu {
  display: flex;
  background-color: var(--cambridge-blue);
  height: 100px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

/* Button settings */
Button {
  height: 50px;
  padding: 20px;

  font: var(--traditional);
  font-size: 20px;
  color: var(--anti-flash-white);
  letter-spacing: var(--spacing);
  transition: var(--transition);
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--citron);
  border: none;
  border-radius: var(--button-radius);
}

.menu-button:hover {
  background-color: var(--citron-shadow);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
}

.more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--process-cyan);
  border: none;
  font-size: 15px;
  transition: var(--transition);
}

.more-button:hover {
  font-size: 16px;
}

.button-selected {
  width: 290px;
  height: 70px;
  /* margin-top: var(--margin); */
  border: var(--border-thickness) solid rgb(255, 255, 255);
  border-radius: var(--radius);
}

.sidebar {
  color: var(--persian-red);
  size: 200px;
}

/*       * * * * * * * * * *        */
/* * * *   SIDEBAR SETTINGS   * * * */
/*       * * * * * * * * * *        */

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--secondary-color);
  transition: var(--transition);
  cursor: pointer;
}
.sidebar-toggle:hover {
  color: var(--secondary-color);
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1.5rem;
}
.sidebar-close {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: var(--secondary-shadow);
}
.sidebar-close:hover {
  color: var(--tea-green);
  transform: rotate(180deg);
}
.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--tea-green);
  transition: var(--transition);
}
.links a:hover {
  background: var(--process-cyan);
  color: var(--indigo-dye);
  padding-left: 1.75rem;
}
.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--persian-red);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--persian-red);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--indigo-dye);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--persian-red);
  transition: var(--transition);
  transform: translate(100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
/****************************/
/* Global vars and settings */
/****************************/
:root {
  /* fonts */
  --traditional: "Noto Serif TC", serif;
  --grotesque: "Bricolage Grotesque", sans-serif;
  --ff-secondary: "Lustria", serif;
  --ff-header: "Comfortaa", cursive;
  --ff-size1: 64px;
  --ff-size2: 16px;

  /* basic colors */
  --white: #e6ece8;
  --black: #000000;

  /* main palette */
  --tea-green: #bfd7b5;
  --anti-flash-white: #eef0f2;
  --citron: #c5c763;
  --citron-shadow: #b2b441;
  --cambridge-blue: #8bb8a8;
  --process-cyan: #01baef;
  --indigo-dye: #344966;
  --rich-black: #0d1821;
  --persian-red: #bb4430;

  --background-color: #ececec;
  --secondary-color: #cfe6a8;
  --secondary-shadow: #ccc;

  /* misc */
  --transition: all 0.25s linear;
  --spacing: 0.08rem;
  --radius: 0.5rem;
  --button-radius: 1.5rem;
}

/* general settings that will override any annoying defaults */
/* '*' represents all elements on the site */
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
